@font-face{
	font-family: 'Frutiger Black';
	src: url('../fonts/Frutiger LT 75 Black.ttf')
}

@font-face{
	font-family: 'Frutiger Std Bold';
	src: url('../fonts/Frutiger LT Std 65 Bold.ttf')
}

@font-face{
	font-family: 'Frutiger try';
	src: url('../fonts/Frutiger LT 47 Light Condensed.ttf')
}


* {
	margin: 0;
	padding: 0;
}

.wrapper {
	width: 1024px;
	height: 768px;
	position: relative;
	background: url('../assets/images/background.jpg') no-repeat;
	background-size: contain;
	margin: 0 auto;
}
nav {
	height: 49px;
	width: 100%;

}
nav button{
	height: 100%;
	width: 33.3333%;
	float: left;
	/* margin-right: 3px; */
	font-size: 20px;
	font-family: 'Frutiger Black';
	color: #5E5968;
	border: 1px solid #CDCDCD;
}
.slide-graphic{
	position: absolute;
}
h2{
	position: relative;
	margin-top: 30px;
	left: 228px;
	text-align: center;
	font-size: 28px;
	width: 100%;
	font-family: 'Frutiger Black';
	color: #432171;
}
.graphics{
	margin-top: 70px;
	position: relative;
	left: 214px;
	height: 358px;
	width: 593px;
	border: 2px solid #4A2278;
	border-radius: 0 40px 0 40px;
	background-color: white;
}
.graphics div div{

}
.wrapgraph{
	left: 150px;
	width: 268px;
	height: 300px;
	position: relative;
	top: -31px;
}
.wrapgraph div{
	transition: 2s;
	width: 134px;
	float: left;
	border-radius: 8px 8px 0 0;
}
.firstBlock{
	position: absolute; 
	background-color: #1785A3;
	bottom: 0px;
	height: 0;
}
.secondBlock{
	left: 134px;
	position: absolute;
	bottom: 0px;
	background-color: #E3007C;
	height: 0;
}
.graphic-data{
	visibility: hidden;
	text-align: center;
	font-size: 10px;
	font-family: 'Frutiger Std Bold';
	color: white;
}
.firstBlock p:last-child{
	position: relative;
	top: 177px; 
}

.secondBlock p:last-child{
	position: relative;
	top: 120px;

}
.secondBlock p:first-child, .firstBlock p:first-child{
	margin-top: 5px;
	font-size: 16px;
}
.graduation{
	list-style: none;
	position: relative;
	left: 36px;
	top: 13px;
}
.graduation li{
	margin-top: 15px;
	font-family: 'Frutiger Std Bold';
}
.signature{
	position: relative;
	top: 150px;
	left: 111px;
	font-size: 15px;
	font-family: 'Frutiger Std Bold';
}
.graduation-wrapper{
	height: 358px;
	width: 49px;
	background-color: #DAD9DA;
	float: left;
	border-radius: 0 0 0 40px;
	position: relative;
}
.graphics-data{
	text-align: center;
	margin-right: 10%;
	position: relative;
	top: 21px;
	font-family: 'Frutiger Std Bold';
}
.horizontal-line hr{
	width: 542px;
	position: relative;
	border: 2px solid #4a2278; 
}
.horizontal-line p:nth-child(2){
	position: relative;
	left: -4px;
	top: 2px;
}

.horizontal-line{
	position: relative;
	top: 300px;
	left: -150px;
	font-family: 'Frutiger Std Bold';
}
.horizontal-line p:last-child{
	position: relative;
	left: 170px;
	text-align: center;
	top: -5px;

}
.minifotter{
	font-size: 14px;
	float: left;
	position: relative;
	top: 79px;
	left: -100px;
	font-family: 'Frutiger try';
}
.slide-calculator{
	position: absolute;
}
.slide-calculator h2{
	left: 245px;
	text-align: left;
}
.firstCalculator{
	margin-left: 105px;

}
.firstCalculator, .secondCalculator{
	margin-top: 36px;
	width: 377px;
	float: left;
}
.inputDescription{
	font-size: 9px;
	text-align: left;
	color: #7c7a7b;
}
.inputSector{
	height: 51px;
	width: 377px;
	border: 1px solid #A7A7A8;
	background: linear-gradient(to top, #99989A, #FDFEFF);
}
.secondCalculator{
	margin-left: 51px;
}
.inputSector input::-webkit-input-placeholder{
	font-size: 10px;
}
.inputSector input::-moz-input-placeholder{
	font-size: 10px;
}
.inputSector input{
	height: 29px;
	width: 181px;
	margin: 10px 2px 10px 10px;
	padding-right: 10px;
	text-align: right;
}
.inputSector button:nth-child(2){
	border: 1px solid #DB82BA;
	height: 29px;
	width: 98px;
	background: linear-gradient(to top, #E31E86 0%, #E32388 50%, #DEC4DC 100%);
	color: white;
}
.inputSector button:nth-child(3){
	height: 28px;
	width: 28px;
	border-radius: 50%;
	background-color: #F0F0F0;
	color: #502D80;
	margin-left: 25px;
	border: 1px solid #D9D9D8;
}
 .inputDescription{
	background: linear-gradient(to top, #FFFFFF, #E0E4E8);
	padding-left: 14px;
	padding-top: 2px;
}
.calculatorResult{
	height: 32px;
	background: linear-gradient(to top, #ACABAB,#C1C0C0);
}
.calculatorResult p{
	float: left;
	font-family: 'Frutiger Std Bold';
	padding: 5px 0 0 14px;
}
.calculatorResult sup{
	font-size: 10px;
}
.calculatorResult input{
	height: 22px;
	width: 92px;
	float: right;
	margin: 3px 8px 3px 0;
	text-align: right;
	color: #E31E86;
	font-family: 'Frutiger Std Bold';
	font-size: 18px;
}
.calculatorBlocks div:last-child{
	background: linear-gradient(to top, #BCBCBB, #E1E1E0);
	font-size: 9px;
}
.calculatorBlocks{
	margin-bottom: 4px;
	color: white;
}
.calculatorBlocks button{
	height: 20px;
	width: 20px;
	border-radius: 50%;
	color: #7C7A7B;
	border: 1px solid #AEAEAD;
	margin-top: 10px;
	margin-left: 8px;
	margin-right: 6px;
	margin-bottom: 10px;
	float: left;
}
.calculatorBlocks div:last-child p{
	padding: 8px 15px 10px 0;
	word-spacing: 2px;
}
.jointResult{
	clear: both;
	margin-left: 105px;
	position: relative;
	top: 5px;
}
.combined{
	width: 796px;
	background-color: #502D80;
	clear: both;
	font-size: 18px;
	color: white;
	padding: 5px 0 5px 10px;
	font-family: 'Frutiger Std Bold';
}
.jointResult div{
	float: left;
	font-family: 'Frutiger Std Bold';
	color: #7C7A7B;
	background: linear-gradient(to top, #F4FAFE, #EBF1FA);
	margin-right: 7px;
}
.jointResult div:last-child{
	margin-right: 0;
}
.jointResult div p:first-child{
	padding: 5px 5px 0 11px;
}
.jointResult div p:last-child{
	color: #E31E86;
	padding-left: 10px;
	padding-bottom: 15px;
}

.jointResult sup{
	font-size: 10px;
}
.number{
	color: #E31E86;
}
.minifotter2{
	position: relative; 
	font-size: 12px;
	font-family: 'Frutiger try';
	margin-left: 105px;
	top: 42px;
	margin-bottom: 22px;
}

.slide-competitors h2{
	left: -17px;
	color: #582982;
}
.wrapper-competitor{
	width: 898px;
	height: 392px;
	background-color: rgba(255, 255, 255, 0.8);
	/* opacity: 0.6; */
	margin-top: 51px;
	margin-left: 60px;
	border: 1px solid #D9E2EB;
}
.preference{
	width: 124px;
	float: left;
}
.arrow{
	width: 11px;
	height: 203px;
	background: linear-gradient(to top, #1785A3 0%, #88449A 50%, #FF0090 100%);
	position: relative;
	margin-left: 50px;
}
.arrow:before{
	content: "";
	position: absolute;
	top: -28px;
	left: -8px;
	width: 0;
	height: 0;
	border-left: 14px solid transparent;
	border-right: 14px solid transparent;
	border-bottom: 28px solid #ff0090;
}
.arrow:after{
	content: "";
	position: absolute;
	bottom: -28px;
	left: -8px;
	width: 0;
	height: 0;
	border-left: 14px solid transparent;
	border-right: 14px solid transparent;
	border-top: 28px solid #1785A3;
}
.preference{
	margin-left: 50px;
	margin-top: 31px;
	font-family: 'Frutiger Black';
	font-size: 13px;
}
.preference p:first-child{
	margin-bottom: 37px;
}
.preference p:last-child{
	margin-top: 41px;
}
.balance{
	float: left;
	position: relative;
	left: 117px;
	top: 64px;
}
.holder{
	transition: 1s linear;
	width: 278px;
	height: 10px;
	background: linear-gradient( to right, #5B2C81 0%, #7965A7 50%, #5B2C81 100%);
}
.leftScale{
	height: 212px;
	width: 148px;
	background: url('../assets/images/left.png');
	background-size: contain;
	position: relative;
	left: -41px;
	float: left;
	transition: 1s linear;
}
.rightScale{
	height: 212px;
	width: 148px;
	background: url('../assets/images/right.png');
	background-size: contain;
	position: relative;
	left: 23px;
	float: left;
	transition: 1s linear;
}
.rightScale p, .leftScale p{
	font-size: 24px;
	font-family: 'Frutiger Black';
	left: 50px;
	position: relative;
	top: 163px;
	color: white;
}
.rockethead{
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;
	border-bottom: 50px solid #5B2C81;
	position: relative;
	width: 0;
	left: 128px;
	top: -1px;
}
.rocketbody{
	top: -1px;
	position: relative;
	margin-left: 128px;
	width: 22px;
	height: 184px;
	background-color: #5B2C81;
	background: linear-gradient( to top, #5C2E82 0%, #7863A6 50%, #5B2C81 100%);
}
.pedestal{
	top: -1px;
	position: relative;
	height: 26px;
	width: 146px;
	background-color: #5B2C81;
	margin-left: 66px;
}
.pedestal p{
	top: 5px;
	font-size: 12px;
	left: 43px;
	margin: 0 auto;
	font-family: 'Frutiger Black';
	position: relative;
	color: white;
}
.anagraph{
	position: relative;
	font-family: 'Frutiger Black';
	font-size: 13px;
	color: #5b2c81;
	left: 73px;
	top: 7px;
}
.clicker1{
	float: left;
	height: 21px;
	width: 21px;
	background-color: #FF0090;
	margin-right: 6px;
}
.clicker2{
	margin-right: 6px;
	float: left;
	height: 21px;
	width: 21px;
	background-color: #1685A2;
}
.legend{
	margin-bottom: 8px;
	position: relative;
	left: 186px;
	top: 30px;
}
.data-click{
	font-family: 'Frutiger Black';
	font-size: 14px;
	padding-top: 3px;
}
.leftBlock{
	width: 147px;
	height: 101px;
	position: relative;
	right: 64px;
	float: right;
	border-right: 1px solid #D3DDE8;
	border-left: 1px solid #D3DDE8;
	border-bottom: 1px solid #D3DDE8;
	background-color: rgba(255, 255, 255, 0.8);
	top: -1px;
}
.leftBlock p{
	font-size: 18px;
	text-align: center;
	color: #4a2278;
	font-family: 'Frutiger Black';
	margin-top: 17px;
	line-height: 23px;
}
.leftBlock span{
	font-size: 13px;
}
.minifotter3{
	clear: both;
	font-size: 12px;
	/* float: left; */
	position: relative;
	font-family: 'Frutiger try';
	line-height: 12px;
	color: #676A6B;
	margin-left: 70px;
	/* margin-top: 19px; */
	top: 19px;
}